[Unit]
Description=Minecraft RCON WebGUI
After=network.target

[Service]
User=root
Environment=NODE_ENV=production
WorkingDirectory=/opt/mc-rcon-webgui
ExecStart=/usr/bin/node app/server.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
